.skills-container {
  padding: 40px;
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
  color: #333;
}

.skills-title {
  font-size: 48px;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.skills-title .dot {
  color: #6c63ff;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-category {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.skills-category h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-category ul {
  list-style: none;
  padding: 0;
}

.skills-category li {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}
@media only screen and (max-width: 800px) {
  .skills-category {
    min-width: 100px;
  }
}
