body{
    height: 100vh;
    background-color: black;
}
.div_text{
    color: #fff;
}

.info_1{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;

}
.info_2{
    font-family: sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    width: 95%;
}

.mainDiv{
    position: fixed;
    top: 28%;
    left: 16%;
}
.contact_icons{
    padding-top: 20px;
}
.icon{
    font-size: 26px;
    padding-left: 30px;
}
.icon1{
    font-size: 26px;
}

.div_text{
    width: 70%;
    float: left;
}

.image_div{
    width: 30%;
    float: right;
}

.image_div_child{
    height: 200px;
    border: 2px solid #fff;
    border-radius: 110px;
    border-style: dotted;
}

a{
    color: #fff;
    text-decoration: none;
}